:root{
    --primary_color: #FFFFFF;
    --secondary_color: #F35A7E73;
    --complementary_color:#187575FA;
    --complementary_color_second: #225555FA;
    --text_color: #939393;
    --space_elements: 30px 0px;
    --box_shadow: rgba(0, 0, 0, 0.16) 0px 5px 5px 0px;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
}

.nav__container{
    margin: 0px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    box-shadow: var(--box_shadow);
    position: sticky;
    top: 0;
    z-index: 900;
    background-color: var(--primary_color);
}

.item{
    color: var(--text_color);
    position: relative;
    margin: 20px;
}

.item::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 4px;
    left: 50%;
    top: calc(100% + 4px);
    background-color: var(--secondary_color);
    opacity: 0;
    transition: .3s ease-in-out;
}

.item:hover::after{
    opacity: 1;
    width: 100%;
    left: 0%;
}

.item:hover{
    color: var(--secondary_color);
}

.social{
    margin: 0 10px;  
}

.social__image{
    transition-duration: 0.4s;
}

.social__image:hover{
    transform: scale(1.2);
}

.nav__responsive{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__label, .nav__input{
    display: none;
}

.container{
    margin: 30px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space_elements);
}

#objectives{
    margin: 30px 120px;
    display: flex;
    padding: var(--space_elements);
}

.skills {
    padding: 1.25em 2.5em;
    border: 1px solid #49494940;
    width: 30%;
    align-self: stretch;
}

.title__skills {
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 39px;
    color: #187575FA;
    text-align: center;
}

.list__skills>li{
    font-weight: 400;
    line-height: 24px;
    color: var(--text_color);
    margin-bottom: 12px;
}

.about__me {
    box-shadow: var(--box_shadow);
}

.title__grade {
    font-weight: 600;
    font-size: 1.75em;
    line-height: 44px;
    color: var(--complementary_color_second);
}

.title__specialization {
    font-weight: 600;
    font-size: 1.25em;
    line-height: 39px;
    color: var(--complementary_color);
    margin-bottom: 12px;
}

p {
    font-weight: 400;
    font-size: 1em;
    line-height: 24px;
    color: var(--text_color);
    margin-bottom: 20px;
}